<!DOCTYPE html>

<html>

<head>
	<title>[% title %] - 批量操作</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/ReactToastify.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/sweetalert2.min.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/preact.umd.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/hooks.umd.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/compat.umd.js" type="text/JAVASCRIPT"></script>
	<script>window.React = window.preactCompat; window.react = window.preactCompat;</script>
	<script src="/js/vendor/clsx.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/react-toastify.umd.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/sweetalert2.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/common.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/server.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/batch.js?[% version%]" type="text/JAVASCRIPT"></script>

</head>

<body>

	<div class='ido' style='text-align:center'>
		<h2 class='ih' style='text-align:center'>批量操作</h2>

		您可以在此处通过一项操作在多个档案中使用插件.<br><br>
		选择您的插件，检查要使用的存档，然后滚动! <br>
		没有标签的档案已被预先检查.<br><br>

		<div style='margin-left:auto; margin-right:auto;'>
			<div style='text-align:left; width:400px !important' class='left-column'>

				<!-- Task Selector -->
				<table class="tag-options" style="margin-left: auto;margin-right: auto;">
					<tbody>
						<tr>
							<td>
								<h2>任务 :</h2>
							</td>
							<td>
								<select id="batch-operation" class="favtag-btn" style="font-size:20px; height:30px">
									<option value="plugin">🧩 调用插件</option>
									<option value="clearnew">🆕 移除NEW标签</option>
									<option value="tagrules">📏 应用标签规则</option>
									<option value="addcat">📚 添加到分类</option>
									<option value="delete">🗑️ 删除档案</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Task Options -->
				<div class="id1 tag-options" style="padding:4px; height:unset; width:97%;">
					<table>
						<tbody>
							<tr class="operation plugin-operation">
								<td>使用插件 :</td>
								<td>
									<select id="plugin" class="favtag-btn">
										[% FOREACH plugins %]
										<option value="[% namespace %]">[% name %]</option>
										[% END %]
									</select>
								</td>
							</tr>
							<tr class="operation plugin-operation">
								<td>超时 (最大 20s):</td>
								<td>
									<input type="number" id="timeout" min="0" max="20" value="0"> seconds
								</td>
							</tr>
							<tr class="operation plugin-operation">
								<td colspan="2">
									<h3>此插件建议冷却时间为 <span id="cooldown">-1</span> 秒.
									</h3>
									<i class="fas fa-exclamation-triangle"></i> 某些外部服务可能会暂时
									Ban
									掉你的设备， 如果您频繁调用插件! <br>
									确保在使用此插件的档案间隔设置合适的 <b>超时时间</b> 如果
									您要使用的插件存在相关问题. <br><br>

								</td>
							</tr>

							<tr class="operation plugin-operation">
								<td colspan="2">
									<input type="checkbox" id="override">
									<label for="override">覆盖插件全局参数</label>
								</td>
							</tr>

							<tr class="operation tagrules-operation">
								<td style="vertical-align: top;">这会将以下标签规则应用于选定的
									档案.<br><br>
									您可以在服务器配置中编辑您的标签规则.<br><br>

									<input id='server-config' class='stdbtn' type='button'
										value='服务器配置' />
								</td>
								<td>
									<textarea class="stdinput" size="20" style='height:196px'
										disabled>[% tagrules %]</textarea>
								</td>
							</tr>

							<tr class="operation clearnew-operation">
								<td colspan="2" style="text-align: center;">

									这将从所选档案中删除“NEW”标志.
									<br>
								</td>
							</tr>

							<tr class="operation addcat-operation">
								<td>添加到分类 :</td>
								<td>
									<select id="category" class="favtag-btn">
										[% FOREACH categories %]
										<option value="[% id %]">[% name %]</option>
										[% END %]
									</select>
								</td>
							</tr>

							<tr class="operation delete-operation">
								<td></td>
								<td style="font-size:36px; text-align: center;">
									💣👀💦💦
								</td>
							</tr>
							<tr class="operation delete-operation">
								<td colspan="2" style="text-align: center;">

									<h3>这将从您的系统中删除元数据和匹配文件！
										请谨慎使用.
									</h3>
									<br>
								</td>
							</tr>
						</tbody>
					</table>

					<table class="operation plugin-operation">
						<tbody>
							[% FOREACH plugin IN plugins %][% IF plugin.parameters && plugin.parameters.size %]

							<span id="[% plugin.namespace %]-timeout" style="display:none">[% IF plugin.cooldown %][%
								plugin.cooldown %][% ELSE %]0[% END %]</span>

							[% FOREACH arg IN plugin.parameters %]
							<tr class="arg-override [% plugin.namespace %]-arg" style="display:none">
								<td style="max-width:250px">[% arg.desc %] :</td>
								<td>
									<input class="stdinput [% plugin.namespace %]-argvalue" type=[% SWITCH arg.type %]
										[% CASE 'string' %] "text" [% CASE 'bool' %] "checkbox" value="1" [% CASE 'int'
										%] "number" [% CASE %] "color" [% END %]>
								</td>
							</tr>
							[% END %][% END %][% END %]

						</tbody>
					</table>
				</div>

				<div class="tag-options" style="text-align:center">
					<br /><br />
					<input type='button' id="check-uncheck" value='选中/取消全部' class='stdbtn' checked='false'>
					<input type='button' id="start-batch" value='开始标记' class='stdbtn'>

				</div>

				<div class="job-status" style="display:none; text-align:center">

					<input id="cancel-job" type='button' value='取消' class='stdbtn'>
					<input id="restart-job" type='button' value='开始其他任务' class='stdbtn'>

					<div id="progress" style="padding-top:6px; padding-bottom:6px">
						<div class="bar"></div>
						当前运行 <span id="arcs"></span> 共 <span id="totalarcs"></span>
					</div>
					<div class="id1" style="padding:4px; height:auto; width:97%;">
						<pre id="log-container" class="log-panel" />
					</div>
				</div>

			</div>

			<div class="id1 right-column"
				style='text-align:center; min-width:400px; width: 60% !important; height:500px;'>
				<ul class='checklist' id="arclist">
				</ul>

				<div id="loading-placeholder"
					style="align-content: center;top: 150px; position: relative; margin-left: auto; margin-right: auto; width: 90%;">
					<i class="fas fa-8x fa-spin fa-compact-disc"></i><br><br>
					<h2>准备数据.</h2>
				</div>
			</div>
			<br><br>
		</div>

		<input id='plugin-config' class='stdbtn' type='button' value='插件配置' />
		<input id='return' class='stdbtn' type='button' value='回到资料库' />

	</div>
	[% INCLUDE footer %]
</body>

</html>