<!DOCTYPE html>

<head>
	<title>[% title %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version %]" />
	<link rel="stylesheet" type="text/css" href="/css/config.css?[% version %]" />

	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.qtip.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.contextMenu.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/awesomplete.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery-migrate.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.dataTables.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.qtip.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.ui.position.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.contextMenu.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/awesomplete.min.js" type="text/JAVASCRIPT"></script>

	<script src="https://cdn.datatables.net/plug-ins/1.10.22/pagination/select.js" type="text/JAVASCRIPT"></script>

	<script src="/js/index.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/ajax.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/index_datatables.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/theme.js?[% version %]" type="text/JAVASCRIPT"></script>

</head>

<body onload="init()">

	[% IF userlogged %]
	<p id="nb">
		<i class="fa fa-caret-right"></i>
		<a href="./upload">上传档案</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./batch">批量标签</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./config">设置</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./config/categories">修改类别</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./stats">统计</a>
		<i class="fa fa-caret-right"></i>
		<a href="./logs">日志</a>
	</p>
	[% ELSE %]
	<p id="nb">
		<i class="fa fa-caret-right"></i>
		<a href="./login">管理员登录</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./stats">统计</a>
	</p>
	[% END %]

	<div class='ido'>
		<h1 class='ih'>[% motd %]</h1>
		<div id='toppane'>
			<div class='idi'>
				<div id="category-container">
					<!-- Categories go here -->
				</div>
				<input id='untaggedbtn' class='favtag-btn' type='button' onclick='toggleFilter(this)'
					value='无标签的档案' />
				<input id='inboxbtn' class='favtag-btn' type='button' onclick='toggleFilter(this)'
					value='新的档案' />
				<br />
				<input type='text' id='srch' class='search stdinput' size='90' style='width:100%'
					placeholder='搜索 标题, 艺术家, 系列, 语言或标签' />
				<input id='subsrch' class='searchbtn stdbtn' type='button' value='应用筛选' />
				<input id='clrsrch' class='searchbtn stdbtn' type='button' value='清除筛选' />
			</div>

			<p id='cssbutton' style='display:inline'>
				<input class='stdbtn' type='button' onclick="openInNewTab('random')" value='随机档案' />

				<input id='viewbtn' class='stdbtn' type='button' onclick="openSettings()" value='列表视图' />
			</p>

			<table class="itg datatables">
				<thead>
					<tr>
						<th id="titleheader">
							<a>标题</a>
						</th>
						<th id="customheader1">
							<a>艺术家</a>
						</th>
						<th id="customheader2">
							<a>系列</a>
						</th>
						<th id="tagsheader">
							<a>标签</a>
						</th>
					</tr>
				</thead>
				<tbody class="list">
				</tbody>
			</table>

			<div id="json-error" style="display:none">
				<h1 style="color: red">
					<i class="fas fa-bomb"></i> 我确定数据库已经崩溃，除此之外啥也不清楚
					伙计
					<i class="fas fa-bomb"></i>
				</h1>
				<h2>数据库缓存已损坏，因此LANraragi无法显示您的存档列表。</h2>
			</div>

		</div>
	</div>

	[% INCLUDE footer %]

	[% IF debugmode %]
	<i class="fas fa-bug"></i> 您正在调试模式下运行！
	<i class="fas fa-bug"></i>
	[% END %]

	<script>

		function init() {
			initSettings("[% version %]");
			initIndex([% pagesize %]);

			// Initialize tag suggestions
			loadTagSuggestions();
			// Initialize categories
			selectedCategory = "";
			loadCategories();
		[% IF usingdefpass %]
		//If the json has the "default password" flag, flash a friendly notification inviting the user to change his password
		$.toast({
			heading: '你\'正在使用默认密码，\'这样太蠢了',
			text: '<a href="login">点此登录</a> ，使用默认密码 "kamimamita" 之后 <a href="config">修改它，</a> 赶紧的。<br/>...也可以禁用它! <br/>为什么不在之后检查\ 配置选项呢? ',
			hideAfter: false,
			position: 'top-left',
			icon: 'error'
		});
		[% END %]

		[% IF debugmode %][% ELSE %]
		checkVersion("[% version %]");
		[% END %]

		// Initialize context menu
		$.contextMenu({
			selector: '.id1,.image-tooltip',
			callback: function (key, options) {
				handleContextMenu(key, $(this).attr("id"));
			},
			items: {
				[% IF userlogged %]
				"edit": { name: "编辑元数据", icon: "fas fa-pencil-alt" },
				"delete": { name: "删除", icon: "fas fa-trash-alt" },
				"category": {
					"name": "添加到分类", 
					"icon": "fas fa-folder-open",
					"items": {
						[% IF categories.size > 0 %]
							[% FOREACH categories %]
							"category-[% id %]": {"name": "[% name %]"},
							[% END %]
						[% ELSE %]
						"noop": {"name": "暂无分类..."}
						[% END %]
					}
				},
				"sep1": "---------",
				[% END %]
				"read": { name: "阅读", icon: "fas fa-book" },
			"download": { name: "下载", icon: "fas fa-save" }
			}
		});


		}



	</script>

	<div id="overlay-shade" onclick="closeOverlay();"> </div>
	<div id="settingsOverlay" class="id1 base-overlay small-overlay" style="display:none">
		<h2 class="ih" style="text-align:center">索引显示选项</h2>
		<div style="margin:auto; font-size:8pt;">

			<div class="config-panel">
				<h1 class="ih" style="display:inline"> 紧凑模式</h1>
				<input id="compactmode" name="compactmode" class="fa" type="checkbox" style="float:left">
				<br /> 如果启用，则存档将显示为没有缩略图的列表模式。
			</div>

			<div class="config-panel">
				<h1 class="ih" style="display:inline"> 缩略图裁切 </h1>
				<input id="cropthumbs" name="cropthumbs" class="fa" type="checkbox" style="float:left">
				<br /> 如果启用，不适合常规A4页面的缩略图将被裁剪为仅显示
				左侧.
			</div>
				<div class="config-panel">
				<h1 class="ih" style="display:inline"> 自定义列 </h1>
				<br>您可以自定义标题和标签摘要之间的两列中使用的排序名称.
				<br>输入不带冒号的完整排序名称,比如 "artist".<br>
				<br>如果您有多个具有相同命名的标签，则该列仅显示最后一个.
				<br><br>
				<b>列 1: </b> <input id="customcol1" name="customcol2" value="artist"> <br>
				<b>列 2: </b> <input id="customcol2" name="customcol2" value="series">
			</div>
		</div>
		<br />
		<br />
		<input value="保存及关闭" onclick="saveSettings()" class="stdbtn" id="goback" type="button">
		<br />
		<br />
		<br />
	</div>


</body>

</html>
